modules = ["nodejs-20", "web", "bash", "postgresql-16", "python-base-3.13"]

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[userenv]

[userenv.shared]

[userenv.development]
SPOTIFY_REDIRECT_URI = "https://accbc1a2-df19-45ed-84ed-05bd895a2d24-00-1edi1jmx0dqk6.worf.replit.dev/api/spotify/callback"

[userenv.production]
SPOTIFY_REDIRECT_URI = "https://red-l-1-zar-links-rusapi.replit.app/api/spotify/callback"
PUBLIC_APP_ORIGIN = "https://xn--d1ax3b.fun"

[nix]
channel = "stable-25_05"
